#root {
  height: 100%;
}

.headerDiv {
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 10px;
}

.height-100 {
  height: 100%;
}

.nav-item {
  font-size: large;
}

.logoDiv {
  width: 20%;
}

.profileImage {
  width: 30px;
  height: 30px;
}

.addCreditsLink {
  color: teal;
}

.creditsValue {
  padding-left: 5px;
  color: blue;
}

.navbarLinks {
  padding-bottom: 0%;
}

.introPageDiv {
  margin-top: 10vh;
}

.zoom {
  transition: transform .2s; 
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  z-index: 2;
}

.fast-transition {
  position: relative; /* For positioning the pseudo-element */
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.fast-transition::before {
  /* Position the pseudo-element. */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Create the box shadow at expanded size. */
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);

  /* Hidden by default. */
  opacity: 0;
  transition: opacity 100ms;
}

.fast-transition:hover::before {
  /* Show the pseudo-element on hover. */
  opacity: 1;
}

.curser-pointer {
  cursor: pointer;
}

.textArea-height {
  height: 100px;
  background-color: aquamarine;
}

.flex-grow-1 {
  flex-grow: 1;
}

.fixed {
  position: fixed;
}

.noTextDecoration {
  text-decoration: none;
}

.mrgTop-20vh {
  margin-top: 20vh; 
}

.mrgTop-30vh {
  margin-top: 30vh;
}

.align-itm-header {
  align-items: center;
}