
@media only screen and (max-width: 768px) {
    
    .logoDiv {
        width: 50%;
    }

    .introPageMainDiv {
        flex-direction: column;
    }

    .margin-2 {
        margin: 2px;
    }

    .align-itm-header {
        align-items: flex-start;
    }

}   