
.nav-item {
    font-size: large;
}



.logoDiv {
    width: 30%;
}

.addCreditsLink {
    color: teal;
}

.creditsValue {
    padding-left: 5px;
    color: blue;
}


.navbarLinks {
    padding-bottom: 0%;
}
